<h2>Ratings</h2>


<h2>Top Breweries</h2>
<%= render 'list', things: @top_breweries %>
<h2>Top Beers</h2>
<%= render 'list', things: @top_beers %>
<h2>Top Styles</h2>
<%= render 'list', things: @top_styles%>
<h2>Recent ratings </h2>
<%= render 'list', things: @recent_ratings %>
<h2>Most active users</h2>



 <%= link_to 'New rating', new_rating_path, class: 'btn btn-primary'%>